In [15]:
def tax_rate(salary):
    if salary<54:
        return 0.05
    elif salary<121:
        return 0.12
    elif salary<242:
        return 0.20
    elif salary<453:
        return 0.30
    else: 
        return 0.40
base = 120
r = 1.08
house_cost = 1500 
buy_house_1st_price = 150
yearly_house_debt = 61
year_to_pay_debt = 30
capital_gain_rate = 0.05
yearly_cost = 24 #2 x 12 months
acc = 0
for i in range(30):
    #salary gain
    salary = base*pow(r, i)
    tax = tax_rate(salary)*salary
    #capital gain
    c_gain = acc*capital_gain_rate
    acc+=salary-yearly_house_debt-yearly_cost+c_gain-tax
    print("Year %3d: Salary %5d, Capital %10d, Capital Gain %10d"%(i, int(salary), int(acc), int(c_gain)))

Year   0: Salary   120, Capital         20, Capital Gain          0
Year   1: Salary   129, Capital         40, Capital Gain          1
Year   2: Salary   139, Capital         69, Capital Gain          2
Year   3: Salary   151, Capital        108, Capital Gain          3
Year   4: Salary   163, Capital        159, Capital Gain          5
Year   5: Salary   176, Capital        223, Capital Gain          7
Year   6: Salary   190, Capital        302, Capital Gain         11
Year   7: Salary   205, Capital        396, Capital Gain         15
Year   8: Salary   222, Capital        509, Capital Gain         19
Year   9: Salary   239, Capital        641, Capital Gain         25
Year  10: Salary   259, Capital        770, Capital Gain         32
Year  11: Salary   279, Capital        919, Capital Gain         38
Year  12: Salary   302, Capital       1092, Capital Gain         45
Year  13: Salary   326, Capital       1290, Capital Gain         54
Year  14: Salary   352, Capital       1516, Capital Gain         64
Year  15: Salary   380, Capital       1773, Capital Gain         75
Year  16: Salary   411, Capital       2065, Capital Gain         88
Year  17: Salary   444, Capital       2394, Capital Gain        103
Year  18: Salary   479, Capital       2716, Capital Gain        119
Year  19: Salary   517, Capital       3078, Capital Gain        135
Year  20: Salary   559, Capital       3482, Capital Gain        153
Year  21: Salary   604, Capital       3934, Capital Gain        174
Year  22: Salary   652, Capital       4437, Capital Gain        196
Year  23: Salary   704, Capital       4997, Capital Gain        221
Year  24: Salary   760, Capital       5618, Capital Gain        249
Year  25: Salary   821, Capital       6307, Capital Gain        280
Year  26: Salary   887, Capital       7070, Capital Gain        315
Year  27: Salary   958, Capital       7914, Capital Gain        353
Year  28: Salary  1035, Capital       8846, Capital Gain        395
Year  29: Salary  1118, Capital       9874, Capital Gain        442